
.main-header {
  /* background-color: red; */
  min-height: 600px;
  background-position: center;
  color: black;
}
.main-header .orange.accent-4 {
}
.main-header .showcase {
  padding-top: 100px;
}
.active-link{
  color: #f57c00;
  font-weight: bold;
}
nav .brand-logo{
  color: black
}
nav a {
  color: black;
}
nav ul a {
  color: black;
}
h1 {
  font-size: 42px;
  line-height: 48px;
  text-transform: none;
  letter-spacing: -0.6px;
  font-weight: 500;
}
p{
  font-size: 19px;
}

.demo a {
  padding: 20px 0 1px 0;
  border-bottom: 1px solid;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
.section-payments{
  background: url(../img/paycomp.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;

}
.section-iceberg{
  background: url(../img/iceberg.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
  position: relative;
}
.section-iceberg .iceberg-text{
  margin-top: 10px;
  margin-bottom: 10px;
}
.section-iceberg .iceberg-growth{
  position: relative;
  max-width: 420px;
  padding-top: 290px;
  padding-bottom: 0;
  line-height: 28px;
  margin-left: auto;
}
.section-stripe{
  padding: 40px 60px;
  position: relative;
}
.section-stripe .stripe-logo {
  display: inline-block;
  margin-right: 60px;
  margin-left: 40px;

}
.section-stripe .stripe-box{
  font-size: 17px;
  display: inline-block;
  max-width: 550px;
  margin-left: 20px;
  line-height: 28px;

}
.section-stripe .stripe-do-text {
  font-size: 13px;

}
